.jumbotron{
    background-image: linear-gradient(to right, #007bff, #000);
    color: #fff;
    padding: 40px 0px;
}

.ant-menu-item a,
.ant-menu-submenu{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.user-dashboard{
    margin-left: auto;
}
